.clearfix:after{clear:both;display:block;content:"...";visibility:hidden;height:0;font-size:0;}
.clearfix{*zoom:1;}

.jx-wrap input{ height:40px; line-height:40px; color:#999; border:1px solid #dcdcdc; font-size:16px;}
.jx-wrap input.on{ height:40px; line-height:40px; color:#999; border:1px solid #ff6666; font-size:16px;}
.jx-wrap{ width:100%; background:#fafafa;}
.jx-top-header{ width:100%; background:#fff; height:88px; box-shadow:1px 2px 6px #e1e1e1; z-index:1; position:relative;}
.jx-top-head{ width:1000px; height:88px; margin:0 auto;}
.jx-logo{ float: left; height: 63px; margin-top:15px; width:257px;}
.jx-logo p{ float:left;}
.jx-logo .jx-index{ width:140px;}
.jx-logo .jx-topic{ width:117px; float:right;}
.jx-logo .jx-index a{ width:140px;}
.jx-logo .jx-topic a{ width:117px;}
.jx-logo p a{ display:block; height:63px;}
.jx-reg{ float:right; color:#999; margin-top:48px; height:14px; line-height:14px;}
.jx-reg a,.jx-reg a:hover{ color:#0066cc; margin-left:20px;}
.jx-head-nav{ width:77px; height:14px; line-height:14px; float:right; display:inline; margin:48px 0 0 20px; position:relative; cursor:pointer; z-index:10;}
.jx-head-icon{ height:14px; position:relative; z-index:2;}
.jx-head-nav .jx-xin{ float:left; background-position:0 0; width:12px; height:12px; display:inline-block; margin:1px 8px 0 0;}
.jx-head-nav span{ float:left; display:inline-block; color:#666; margin-right:6px;}
.jx-head-nav .jx-jt{ float:left; display:inline-block; background-position:-23px 0; width:15px; height:14px;}
.jx-head-pop{ display:none; position:absolute; border:1px solid #ccc; top:-6px; left:-10px; width:85px; z-index:1; padding-top:26px;}
.jx-head-pop li{ border-top:1px dotted #ccc; padding-left:10px; height:24px; line-height:24px; background:#fff;}
.jx-head-pop li a{ color:#999;}
.jx-main-bg{ width:100%; padding:50px 0;}
.jx-main{ width:1000px; margin:0 auto;}
.jx-content{ border:3px solid #eaeaea; background:#fff; height:500px; border-radius:5px; box-shadow:1px 6px 11px #e4e4e4;}
.jx-footer{ width:100%; padding:10px 0 0;}
.jx-foot{ width:1000px; margin:0 auto; text-align:center;}
.jx-foot p{ line-height:30px; color:#333;}
.jx-foot .red{ color:#ff0000;}

/*普通登录begin*/
.loginSideAd{float: left;display: inline-block;*display: inline;*zoom: 1;width: 600px;height: 450px;overflow: hidden;}
.loginCon{width: 306px;float: right;display: inline-block;*display: inline;*zoom: 1;margin-right: 35px;}
.loginCon .loginTit{margin: 20px 0;height: 36px;overflow: hidden;}
.loginTit h1{font-family: "Microsoft Yahei";font-weight: normal;color: #333;font-size: 24px;float: left;display: inline-block;*display: inline;*zoom: 1;}
.loginTit a{float: right;display: inline-block;*display: inline;*zoom: 1;color: #0066cc;margin-top: 14px;}
.loginTit a:hover{color: #0066cc;}
.Frame{width: 306px;height: 42px;position: relative;top: 0;left: 0;margin-bottom: 15px;}
.Frame .filter{width: 43px;height: 42px;position: absolute;top: 0;left: 0;z-index: 5;}
.Frame .text{position: absolute;top: 0;left: 0;z-index: 4;background: none;font-weight: 700;}
.enterFrame .text{ width: 216px; padding:0 45px 0 43px;}
.Frame .filter i{float: left;display: inline-block;*display: inline;*zoom: 1;}
.Frame .filter .userIconBox{display: inline-block;width: 43px;height: 40px;background:#fff;position:absolute; top:1px; left:1px; z-index:3;}
.Frame .filter .userIcon{width: 20px;height: 20px;background-position: -51px 0;margin: 12px 10px auto 13px;}
.Frame .filter p{ display: inline-block;*display: inline;*zoom: 1;font-size: 16px;margin-top: 13px;color: #ccc;position:absolute; left:0; top:0; width:200px; padding-left:43px; z-index:5;}
.Frame .filter .judge{float: none;display: inline-block;*display: inline;*zoom: 1;position:absolute; left:280px; top:15px;}

.Frame .filter .pwdIcon{width: 16px;height: 22px;background-position: -83px 0;margin: 10px 11px auto 16px;}
.Frame.wrong .filter .judge{width: 14px;height: 15px;background-position: -162px 0;}
.Frame.right .filter .judge{width: 14px;height: 14px;background-position: -139px 0;}
.mistakeTip,.mistakeTip02{padding: 0 10px;height: 20px; color: #fff;line-height: 20px;position: absolute;bottom: -15px;right: 0;z-index: 5;}
.mistakeTip{background: #ed787f;}
.mistakeTip02{ background:#ccc;}
.yzFrame .text{padding-left: 43px;width: 127px;padding-right: 134px;}
/**
.yzFrame .yzm{float: right;display: inline-block;*display: inline;*zoom: 1;margin-right: 60px;margin-top: 1px;}
*/
.yzFrame .yzm{position: absolute;left: 180px;top: 1px;}
.yzFrame .refresh i{width: 28px;height: 24px;z-index: 5;position: absolute;top: 9px;right: 10px;background-position: -188px 0;}
.loginCon .loginBtn{margin-bottom: 11px;}
.loginBtn input{width: 306px;background-color: #e10303;color: #fff;border-radius: 2px;border: 0;cursor: pointer;font-family: "Microsoft Yahei";}
.loginCon .moreChoice{margin-bottom: 16px;}
.moreChoice .auto,.moreChoice .forgetPwd{color: #999;display: inline-block;*display: inline;*zoom: 1;}
.moreChoice .freeReg{color: #0066cc;display: inline-block;*display: inline;*zoom: 1;float: right;}
.moreChoice .forgetLine{float: right; padding:0 3px; position: relative; top:-2px; color:#999;}
.moreChoice .auto{float: left;}
.moreChoice .forgetPwd{float: right;}
.moreChoice .auto input{height: auto;border: 0;}
.loginType{height: 267px;border-bottom: 1px dotted #ccc;overflow: hidden;}
.cooperate p{margin: 16px auto 11px;text-align: center;color: #999;}
.cooperateWay{width: 243px;height: 42px;margin: 0 auto;}
.cooperateWay a i{float: left;display: inline-block;*display: inline;*zoom: 1;width: 42px;height: 42px;margin-left: 25px;}
.cooperateWay .qq i{background-position: 0 -35px;margin-left: 0;}
.cooperateWay .sina i{background-position: -51px -35px;}
.cooperateWay .aliPay i{background-position: -102px -35px;}
.cooperateWay .baidu i{background-position: -153px -35px;}
.cooperateWay .qq:hover i{background-position: 0 -86px;}
.cooperateWay .sina:hover i{background-position: -51px -86px;}
.cooperateWay .aliPay:hover i{background-position: -102px -86px;}
.cooperateWay .baidu:hover i{background-position: -153px -86px;}
/*普通登录end*/


/****************企业用户注册页面结束*************************/